
.top-results-list-container {
  color: white;
  width: 100%;
}

.tracklist-item {
  display: flex;
}

.track-description {
  width: 85%;
  margin-left: 6px;
}

.track-name {
  margin-top: .75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}

.tracklist-info {
  display: flex;
  flex-direction: row;
  opacity: .7;
  font-size: 14px;
}

.track-icon {
  background-image: url('/public/song.png');
  margin-top: 0.96em;
  width: 18px;
  height: 18px;
  background-size: contain;
}

.track-duration {
  font-size: 14px;
  opacity: .7;
  margin-top: .96em;
}

.track-artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}

.track-album {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}

.track-info-separator {
  color: #fff;
  opacity: .6;
  display: inline-block;
  transform: translateY(-1px);
  font-size: .8em;
  padding: 0 8px;
}