
.artist-container {
}

.artists-title {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: var(--glue-font-weight-black);
  color: #fff;
  text-transform: none;
  margin: 24px 0;
  padding-left: 20px;
}

.artist-link {
  color: #fff;
}

.artists-wrapper {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: center;
}

.single-artist {
  max-width: 300px;
  padding: 10px 8px 24px 8px;;
}

.artist-image {
  background-image: url('https://i.scdn.co/image/2162dbfb7151c96801bf586475cb203c40a21910');
  background-size: cover; 
  width: 150px;
  height: 150px;
}

.artist-more-info {
  color: #fff;
  text-align: center;
  width: 150px;
}

.border-radius {
  border-radius: 50%;
}

@media (max-width: 350px) {
  .artist-image {
    width: 120px;
    height: 120px;
  }

  .artist-more-info {
    width: 120px;
  }
}