
.artist-container {
}

.artists-title {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: var(--glue-font-weight-black);
  color: #fff;
  text-transform: none;
  margin: 24px 0;
}

.artist-link {
  color: #fff;
}

.artists-wrapper {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.hide {
  display: none;
}