.nav-bar {
    grid-area: nav-bar;
    background-color: black;
    overflow-y: auto;
    width: 230px;
    /* will-change: transform; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 0;
    height: auto;
}

/* nav ul - Start */
.recently-played {
    flex: 1;
}

.navBar-group {
    color: #B3B3B9;
}

.navBar-item {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-bold);
}

.navBar-link {
    border: 0;
    /* width: 100%; */
    padding: 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    margin-right: 0;
}

.navBar-link-text {
    margin-left: 16px;
}

.navBar-icon-text-wrapper {
    display: flex;
    align-items: center;
}

.navBar-link--active, .navBar-link--active:focus, .navBar-link--active:hover {
    color : #fff;
}

.navBar-link--active:after{
    content: "";
    left: 0;
    display: block;
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 4px;
    background-color: #1ed760;
}

.active-left-icon {
    position: relative;
}
/* nav ul - End */

.nav-header {
    padding-left: 24px;
    padding-bottom: 18px;
}

.nav-header h1 {
    /* TEMPORAL */
    color: white;
}

.navBar-group-header {
    padding-top: 24px;
    padding-bottom: 7px;
    padding-left: 24px;
    padding-right: 0;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;
}

.navBar-text-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1px;
    margin-right: -1px;
}

.navBar-text-description {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;
    padding-top: 1px;
    display: block;
}

.navBar-link-header {
    padding-top: 5px;
    padding-bottom: 5px;
    height: unset;
}

.navBar-item-small {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
}

/* FOOTER START */
.nav-footer {
    color: #fff;
    padding: 8px 8px 8px 0px;
}

@media only screen and (max-width: 599px){ 
    .nav-bar {
        transition: transform .3s ease-in-out;
        top: 0;
        bottom: 0;
        position: fixed;
        width: 300px;
        left: -340px;
    }
}