.top-results-container {
  display: flex;
}

.top-results-list-container {
  color: white;
  width: 100%;
}

.tracklist-item {
  display: flex;
}

.track-description {
  width: 100%;
}

.track-name {
  margin-top: .75em;
}

.tracklist-info {
  display: flex;
  flex-direction: row;
  opacity: .7;
  font-size: 14px;
}

.track-icon-container {
  width: 42px;
  height: auto;
}

.track-icon {
  background-image: url('/public/song.png');
  margin-top: .75em;
  width: 18px;
  height: 18px;
  background-size: contain;
}

.track-duration {
  font-size: 14px;
  opacity: .7;
  margin-top: .75em;
}